<div class="field">
  {{ form.input_date.label }}
  <div class="control">
    {{ form.input_date }}
  </div>
</div>
<div class="field">
  <div class="select is-rounded is-small">
    <select name='choice_time'>
      <option value="00">0</option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option selected value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
    </select>
  </div>
  <span class="date-time">時</span>
  <div class="select is-rounded is-small">
    <select name='choice_minute'>
      {% for minute in choice_minute %}
      <option value="{{ minute }}">{{ minute }}</option>
      {% endfor %}
    </select>
  </div>
  <span class="date-time">分</span>
</div>
